.WorkExperience{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 80px 0;
h1{
    color: blue;
    font-size: 30px;
    font-family: sans-serif;
}
    .IconAndText{
        .MagajerWork{
            display: flex;
            align-items: center;
            gap: 20px;
            h4{
                color: white;
                font-family: sans-serif;
    
            }
    }
.textSession {
 p{
    color: #8491A0;
    width: 800px;
    font-family: sans-serif;
 } 
}
         
        }
    }