.Experience{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 90px;
    h1{
        color: rgb(139, 137, 137);
        font-family: sans-serif;
        font-size: 20px;
    }
    img {
        width: 446.82px;
        margin-top: 20px;
    }
}